#header {
    min-height: 200px;
    background-color: aqua;
}

#main {
    min-height: 200px;
    background-color: cadetblue;
}

#main .content .element .row:last-child {
    border: 0 !important;
}

#footer {
    min-height: 200px;
    background-color: darkkhaki;
}